{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "Promise": true,
    "console": true,
    "process": true,
    "module": true,
    "require": true,
    "setTimeout": true,
    "describe": true,
    "expect": true,
    "beforeEach": true,
    "afterEach": true,
    "it": true
  },
  "rules": {
    "no-console": 0
  }
}
