{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "globals": {
    "Promise": true,
    "console": true,
    "require": true,
    "process": true,
    "module": true
  },
  "rules": {
    "no-console": 0
  }
}
